<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Difference</h1>
<p>JSON result received from Subtraction Service: <b th:text="${json}">json</b></p>

<div th:replace="footer :: copy"></div>
</body>
</html>